.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(236, 236, 236);
  padding: 20px 50px;
  /* padding  크기에 따라 박스 사이즈 변경 */
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: rgb(59, 59, 59);
}
.nav__notification {
  background-color: tomato;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 600;
  position: absolute;
  /* position: absolute 는 가장 가까운 relative를 가진 부모 기준으로 움직임 */
  left: 20px;
  bottom: 15px;
}
.nav__notice {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* position: absolute 는 가장 가까운 relative를 가진 부모 기준으로 움직임 */
  left: 32px;
  bottom: 26px;
}
